<?xml version="1.0"?>
<configuration>
  <system.webServer>
    <modules>
      <sideElem name="" id="0" />
      <elem attr="a" id="1" />
      <elem attr="b" id="2" />
      <elem attr="c" id="3" />
      <elem attr="d" id="4" />
      <elem attr="e" id="5" >
        <subElem attr='f' id='6' />
      </elem>
    </modules>
  </system.webServer>
</configuration>